.icon-sprite, .icon-dot, .icon-fav, .icon-faved, .icon-mode-hq-on, .icon-mode-one, .icon-mode-order, .icon-mode-random, .icon-more, .icon-mute, .icon-next, .icon-play, .icon-prev, .icon-share, .icon-vol {
  background-image: url('../home/icon-s4967ad5a99.png');
  background-repeat: no-repeat; }

.icon-dot {
  background-position: 0 0; }

.icon-fav {
  background-position: 0 -8px; }

.icon-faved {
  background-position: 0 -26px; }

.icon-mode-hq-on {
  background-position: 0 -44px; }

.icon-mode-one {
  background-position: 0 -64px; }

.icon-mode-order {
  background-position: 0 -84px; }

.icon-mode-random {
  background-position: 0 -104px; }

.icon-more {
  background-position: 0 -124px; }

.icon-mute {
  background-position: 0 -142px; }

.icon-next {
  background-position: 0 -160px; }

.icon-play {
  background-position: 0 -190px; }

.icon-prev {
  background-position: 0 -220px; }

.icon-share {
  background-position: 0 -250px; }

.icon-vol {
  background-position: 0 -268px; }

div {
  padding: 0 10px; }
